                    <footer><p>Developed by : <a href="https://www.velectico.com/">Velectico Consulting</a></p>
    

                </footer>
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="<%= process.env.ADMIN_URL %>assets/js/jquery-1.10.2.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="<%= process.env.ADMIN_URL %>assets/js/bootstrap.min.js"></script>
	
	<script src="<%= process.env.ADMIN_URL %>assets/materialize/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="<%= process.env.ADMIN_URL %>assets/js/jquery.metisMenu.js"></script>
   
	

	

	 <!-- DATA TABLE SCRIPTS -->
     <script src="<%= process.env.ADMIN_URL %>assets/js/dataTables/jquery.dataTables.js"></script>
     <script src="<%= process.env.ADMIN_URL %>assets/js/dataTables/dataTables.bootstrap.js"></script>      
  
    <!-- Custom Js -->

    <script src="<%= process.env.ADMIN_URL %>js/custom.js?v=3"></script> 
    <script src="<%= process.env.ADMIN_URL %>js/aes.js"></script> 

 <!-- Morris Chart Js -->
 <script src="<%= process.env.ADMIN_URL %>assets/js/morris/raphael-2.1.0.min.js"></script>
 <script src="<%= process.env.ADMIN_URL %>assets/js/morris/morris.js"></script>
   
  <script src="<%= process.env.ADMIN_URL %>assets/js/Lightweight-Chart/jquery.chart.js"></script> 
 <script src="<%= process.env.ADMIN_URL %>assets/js/custom-scripts.js"></script> 
 <script src="<%= process.env.ADMIN_URL %>js/chart.min.js"></script> 


 <script>
    // base_url="<%= process.env.BASE_URL %>";
 </script>
</body>


<!-- Mirrored from webthemez.com/demo/target-free-responsive-bootstrap-admin-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 04:37:18 GMT -->
</html>