<%- include('../admin/header'); %>

<div class="header"> 
    <h1 class="page-header">
        Dashboard
    </h1>
    <ol class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
    <li class="active">Discarded baskets / premium features</li>
</ol> 
                
</div>

<div id="page-inner">
	<div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="card">
                            <div class="card-action">
                               Change Profile Url Requests
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tbl_discarded">
                                        <thead>
                                            <tr>                                              
                                               
                                                <th>Date</th>    
                                                 <th>Name</th>  
                                                 <th>Email</th>  
                                                <th>Phone</th>  
                                                <th>Creator's Name</th>  
                                                <th>Premium Features</th>  
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% 
                                               data.forEach(function(item) {  
                                              
                                               %>
                                               	 <tr class="odd gradeX">                                               	
                                                    <td><%= moment(item.Create_Date).format( 'MMM-DD-YYYY') %>  
                                                    <td><%= item.BM_Name %></td>
                                                    <td><%= item.BM_Email %></td>
                                                    <td><%= item.BM_Phone %></td>   
                                                    <td><%= item.JM_Name %></td>   
                                                    <td><%= item.DA_Title %></td>   
                                                    
                                                 </tr>
                                              <% }); %>
                                        </tbody>
                                    </table>
                                             
                                </div>
                                
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>


                <div class="alert alert-success alertcustom" id="alertcustom" style="display:none">
                   
                </div>
           



<%- include('../admin/footer'); %>
<script>
    $(document).ready(function () {
        $('#tbl_discarded').dataTable();
    });
</script>